.Wrapper {
    min-height: 100px;
    display: flex;
    flex-direction: column;
}
.Wrapper small {
    color: red;
}

.Current {
    margin: 20px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #61dafb;
    padding: 2%;
}