.TextInput {
    font-size: large;
    border: 1px solid;
    padding: 5px;
    border-radius: 3px;
    display: block;
    color: red;
}

.TextInput:focus {
    outline: none;
}

.Radio {
    font-size: small;
    display: flex;
    /* flex-direction: column; */
    padding: 5px;
    margin: 1px;

}

.Button {
    display: block;
}