.TextInput {
    font-size: large;
    border: 1px solid;
    padding: 5px;
    border-radius: 3px;
}

.TextInput:focus {
    outline: none;
}

.Radio {
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 2px;

}
.Radio input{
    margin-right: 5px;
}

.Button {
    padding: 5px 15px;
    
    margin-bottom: 10px;
    border: 0px;
    border-radius: 3px;
    background-color: #7bad91;
}
.Button:hover {
    background-color: #a7d4bb;
}

form {
    display: block;
    margin: 0 auto;

}

