.Dates {

    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: red; */
}
.ForecastInfo {
    display: flex;
    /* padding: 4px; */
    justify-content: center;
}
.Objects {
    /* color: red; */
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;

}

